name: Nightly Package Tests
on:
  schedule:
    - cron: '30 10 * * *' # run at 10:30 AM UTC
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  get-versions:
    uses: ./.github/workflows/get-versions.yaml

  stable:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install batcharray'

  stable-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "batcharray[all]"'

  stable-braceexpand:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "batcharray[braceexpand]"'

  stable-numpy:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "batcharray[numpy]"'

  stable-torch:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "batcharray[torch]"'

  latest:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre batcharray'

  latest-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "batcharray[all]"'

  latest-braceexpand:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "batcharray[braceexpand]"'

  latest-numpy:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "batcharray[numpy]"'

  latest-torch:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "batcharray[torch]"'


  ########################
  #     Dependencies     #
  ########################

  omegaconf:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: omegaconf
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).omegaconf) }}


  #################################
  #     Optional dependencies     #
  #################################

  braceexpand:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: braceexpand
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).braceexpand) }}

  numpy:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: numpy
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).numpy) }}

  torch:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: torch
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).torch) }}
