name: Nightly Package Tests
on:
  schedule:
    - cron: '30 10 * * *' # run at 10:30 AM UTC
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  get-versions:
    uses: ./.github/workflows/get-versions.yaml

  stable:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install hya'

  stable-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "hya[all]"'

  stable-extras:
    uses: ./.github/workflows/test-package-extras.yaml

  latest:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre hya'

  latest-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "hya[all]"'

  latest-extras:
    uses: ./.github/workflows/test-package-extras.yaml
    with:
      install-args: '--pre'


  ########################
  #     Dependencies     #
  ########################

  omegaconf:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: omegaconf
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).omegaconf) }}


  #################################
  #     Optional dependencies     #
  #################################

  braceexpand:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: braceexpand
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).braceexpand) }}

  numpy:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: numpy
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).numpy) }}

  torch:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: torch
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).torch) }}
